.abs_div {
  height: 170px;
  background: #303440;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.abs_div h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.2;
}
@media screen and (max-width: 1280px) {
  .abs_div {
    height: 150px;
  }
  .abs_div h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 992px) {
  .abs_div {
    height: 100px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .abs_div {
    height: 75px;
    margin-top: 30px;
  }
  .abs_div h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  .abs_div {
    height: 100px;
  }
  .abs_div h1 {
    font-size: 28px;
  }
}
